<nav class="navbar bg-primary fixed-top text-center p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/images/techno.png" alt="logo" width="120" height="30"></a>
    <button class="navbar-toggler" style="background-color: #FFE50D;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link <% if (url === "/") { %> active <% } %>" aria-current="page" href="/">Home</a>
          </li>
          
          <% if (canView) { %>
            <hr>
            <li class="nav-item">
              <a class="nav-link <% if (url === "/admin/users") { %> active <% } %>" href="/admin/users">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <% if (url === "/admin/stores") { %> active <% } %>" href="/admin/stores">Stores</a>
            </li>
            <hr>
          <% } %>
          
          <% if (isAuthenticated) { %>
            <li class="nav-item">
              <form action="/auth/logout" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-link">Logout</a>
              </form>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>