<%- include('../includes/head'); -%>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="text-center">
    <main class="form-signin w-100 m-auto border border-primary rounded-2">
        <form action="/authentication/login" method="POST">
            <img src="/images/techno.png" alt="logo" width="180" height="50">
            <h1 class="h4 mb-3 fw-normal mt-3">Please sign in</h1>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="name@techno-dz.com">
                <label for="email">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
        </form>
    </main>


<%- include('../includes/footer'); -%>